/*-----------------------*/
/*--------General--------*/
/*-----------------------*/

@font-face{
  font-family: pwooHandwriting;
  src: url(assets/pwoo_handwriting.ttf);
}

body{
  margin: 0;
}

/*-----------------------*/
/*--------Navbar---------*/
/*-----------------------*/

#navbar{
  font-family: pwooHandwriting;
  background-color: #ECECEC;
  width: 100%;
  height: 100px;
}
#home {
  stroke: black;
  fill: #000000;
  animation-duration: 2s, .5s;
  animation-delay: 4s, 5s;
}
#s1 {
  stroke: black;
  fill: #404040;
  animation-duration: 2s, .5s;
  animation-delay: 3s, 4s;
}
#s2 {
  stroke: black;
  fill: #808080;
  animation-duration: 2s, .5s;
  animation-delay: 2s, 3s;
}
#s3 {
  stroke: black;
  fill: #bfbfbf;
  animation-duration: 2s, .5s;
  animation-delay: 0s, 1.5s;
}
#logo {
  stroke: #ffffff;
  fill: #ffffff;
  animation-duration: 2s, 2s;
  animation-delay: 0s, 1s;
}
.animatein {
  fill-opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: dash, fillin;
}
.rainbow{
  animation-name: colorFade;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}
#nav{
  height: 50px;
}
#navitems{
  list-style-type: none;
  margin-top: 10px;
}
#navitems li{
  margin: 50px 30px 5px 30px;
  display: inline;
}
/*----- hover -----*/
/*#s3:hover{
  animation-name: extend;
  animation-duration: 1s;
}*/


/*-----------------------*/
/*--Animation Keyframes--*/
/*-----------------------*/

/*@keyframes extend {
  to {
    <path d="M0,0 l0 100 400 0 c50 -45 10 -50 70 -100 Z"/>;
  }
}*/

@keyframes dash {
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes fillin {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}
@keyframes colorFade{
  0% {fill:#ffffff;}
  17% {fill:#ff0000;}
  33% {fill: #ff751a;}
  50% {fill:#ffff00;}
  66% {fill:#00cc00;}
  83% {fill:#0066ff;}
  100% {fill:#751aff;}
}
