@font-face{
  font-family: pwooHandwriting;
  src: url(pwoo_handwriting.ttf);
}

#navbar{
  font-family: pwooHandwriting;
}

#logo {
  display: none;
  stroke: black;
  fill: none;
  stroke-linejoin: round;
}
